body {
}

.content-width {
	margin: 0 auto;
	width: 90%;
	max-width: 70em;
}


.user-color {
	margin: 0 0 2em;
	height: 1em;
}

.accelleration-controls {
	display: flex;
	justify-content: stretch;
}

.control {
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	display: block;
	flex: 1;
	width: 100px;
	height: 400px;
}

.control--brake {
	background: #c00;
}

.control--gas {
	background: #0c0;
}